p {
    color: pink;
}

.pink-header {
    color: pink;
}

.header-style {
    border-style: solid;
    text-align: center;
    font-family: 'ABeeZee';
    width:100%;
    color: lightgray;
}

.login-instructions {
    font-family: 'ABeeZee';
    text-align: center;
    color: lightgray;
}

.login-form {
    border-style:solid;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;
    padding-left:20px;
    text-align: center;
    font-family: 'ABeeZee';
    color: lightgray;
}

.use-font{
        font-family: 'ABeeZee';
}

.error{
    color: red;
    font-weight: bold;
        font-family: 'ABeeZee';
        text-align: center;
}

.body-style{
    background-color: darkblue;
}

.button{
    text-align: center;
}

<i class="em em-earth_americas" aria-role="presentation" aria-label="EARTH GLOBE AMERICAS"></i>

