
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method = "post">

        <th:block th:each = "destination : ${destinationList}">
            <div class = "form group">
            <label>
                <input type="checkbox" name="destinationIds" th:value="${destination.id}" class = "form-controller">
                <span th:text="${destination.name}"></span>
            </label>
            </div>
        </th:block>

    <input type = "submit" value = "Delete" class = "btn btn-danger">
</form>
</body>
</html>