<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:href="http://www.w3.org/1999/xhtml">
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<head>
    <title>Travel Buddies - Find Your Travel Buddy</title>
</head>
<h2>
    <i class="em em-earth_americas" aria-role="presentation" aria-label="EARTH GLOBE AMERICAS"></i>
    <i>Travel Buddies</i>
    <i class="em em-earth_americas" aria-role="presentation" aria-label="EARTH GLOBE AMERICAS"></i></h2>

<h1>Hey There, Traveler!</h1>

<h2>My Travel Wishlist:</h2>
<ul>
    <th:block th:each="destination : ${destinations}">
        <li th:text="${destination.name}"></li>
    </th:block>
</ul>

<table>

    <tr>

        <th:block th:each="destination : ${destinationList}">
            <li><a th:href="@{'/destination/?destinationId=' + ${destination.id}}" th:text="${destination.name}"></a></li>
        </th:block>


    </tr>
</table>
<br>
<!--<th:block th:each="destination : ${destinations}">-->
    <a href="delete">Click here to delete a destination</a>
<!--</th:block>-->

<h3> Where would you like to travel?</h3>
<form method="post" th:action="@{/home}">
    <label>Add A Desired Destination</label>
    <input th:field="${destination.name}">
    <input type="submit" value="Submit">
</form>

<h4>To Confirm Your Added Location - Click Username Below:</h4>

<th:block th:each="user : ${users}">
    <li><a th:href="@{'/add-dto/?userId=' + ${user.id}}" th:text="${user.username}"></a></li>
</th:block>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>