<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<head>
    <title>Travel Buddies - Find Your Travel Buddy</title>
</head>
<h2>
    <i class="em em-earth_americas" aria-role="presentation" aria-label="EARTH GLOBE AMERICAS"></i>
    <i>Travel Buddies</i>
    <i class="em em-earth_americas" aria-role="presentation" aria-label="EARTH GLOBE AMERICAS"></i></h2>

<h1>Hey There, Traveler!</h1>

<h2>My Travel Wishlist:</h2>
<ul>
    <th:block th:each="destination : ${destinations}">
        <li th:text="${destination.name}"></li>
    </th:block>
</ul>

<!--<ul>-->
<!--    <th:block th:each="user : ${users}">-->
<!--        <li th:text="${user.id}"></li>-->
<!--    </th:block>-->
<!--</ul>-->

<table>
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Usernames</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tr th:each="user : ${users}">-->
<!--        <td><a th:href="'home?userId=' + ${user.id}" th:text="${user.username}"></a></td>-->
<!--    </tr>-->
    <tr>
<!--        <th>User Destinations</th>-->
        <td>
<!--            <span th:each="destination : ${destinationList}" th:text="${destination.name}"></span>-->
            <ul th:each="destination : ${destinationList}" th:text="${destination.name}"></ul>
        </td>
    </tr>
</table>

<h3> Where would you like to travel?</h3>
<form method="post" action="home">

    <label>Add A Desired Destination</label>
    <input th:field="${destination.name}">
    <input type="submit" value="Submit">
</form>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>