<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" type="text/css" href="styles.css">
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

<head>
    <title>Travel Buddies - Meet Your Travel Buddy - Register New User</title>

<!--        <script>-->
<!--    function yourFunction(){-->
<!--&lt;!&ndash;    var action_src = "http://localhost/test/" + document.getElementsByName("keywords")[0].value;&ndash;&gt;-->
<!--&lt;!&ndash;    var your_form = document.getElementById('your_form');&ndash;&gt;-->
<!--&lt;!&ndash;    your_form.action = action_src ;&ndash;&gt;-->
<!--    }-->
<!--&lt;!&ndash;    </script>&ndash;&gt;-->

</head>
<body>
<h1>
<i class="em em-earth_americas" aria-role="presentation" aria-label="EARTH GLOBE AMERICAS"></i>
    <i>Welcome To Travel Buddies!</i>
    <i class="em em-earth_americas" aria-role="presentation" aria-label="EARTH GLOBE AMERICAS"></i></h1>

<h2>Please register below</h2>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/register}" method="post" >
    <div><label> User Name : <input th:field="${user.username}" name="keywords"> </label>
    <p class="error" th:errors="${user.username}"></p>
    </div>
    <div><label> Password: <input th:field="${user.password}"> </label>
        <p class="error" th:errors="${user.password}"></p>
    </div>
    <div><input type="submit" value="Register"/></div>
</form>

<!--<form id = "your_form" onsubmit="yourFunction()">-->
<!--    <input type="text" name="keywords">-->
<!--    <input type="submit" value="Search">-->
<!--</form>-->

<!--<script>-->
<!--function yourFunction(){-->
<!--var action_src = "http://localhost/test/" + document.getElementsByName("keywords")[0].value;-->
<!--var your_form = document.getElementById('your_form');-->
<!--your_form.action = action_src ;-->
<!--}-->
<!--</script>-->


</body>
</html>