<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<!--xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->

<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="styles.css">
<link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>

<head>
    <title>Travel Buddies - Meet Your Travel Buddy </title>
</head>
<body class = "body-style">
<h1 class = "header-style">
<i class="em em-earth_americas" aria-role="presentation" aria-label="EARTH GLOBE AMERICAS"></i>
    Travel Buddies!
    <i class="em em-earth_americas" aria-role="presentation" aria-label="EARTH GLOBE AMERICAS"></i></h1>

<h2 class = "header-style">LOGIN SUCCESSFUL</h2>
<!--<h3 class = "header-style">Select a user to see their destinations, or to add or remove destinations:</h3>-->
<h3 class = "header-style"> Hi <span sec:authentication="name"></span> Where would you like to go today?</h3>

<button class = "button" type="submit">Add A New Destination</button><br>
<button type="submit">View Your Current Destinations</button><br>
<button type="submit">View Others' Destinations</button><br>

<!--This table displays user info-->
<!--<table>-->
<!--    <tr>-->
<!--        <td>-->
<!--            Username-->
<!--        </td>-->
<!--&lt;!&ndash;        <td><span sec:authentication="principal.getUsername()"></span></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td><span sec:authentication="prin."</td>&ndash;&gt;-->
<!--        <td><span sec:authentication="name"></span></td>-->
<!--        <td><span sec:authentication="principal.authorities"></span></td>-->
<!--        <td><span sec:authentication="principal.password"></span></td>-->
<!--&lt;!&ndash;        <td><span sec:authentication="principal.id"></span></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td><span sec:authentication="principal.id"></span></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td><span sec:authentication="User.getUsername()"></span></td>&ndash;&gt;-->
<!--    </tr>-->
<!--    <tr>-->
<!--    </tr>-->
<!--</table>-->

<br>

<!--THIS LISTS ALL USERS AND ALLOWS CLICKING INTO EACH USER'S PROFILE-->
<!--<th:block th:each="user : ${users}">-->
<!--    <li><a th:href="@{'/?userId=' + ${user.id}}" th:text="${user.username}"></a></li>-->
<!--</th:block>-->



</body>
</html>