<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

<head>
    <title>Travel Buddies - Meet Your Travel Buddy </title>
</head>
<body>
<h1>
<i class="em em-earth_americas" aria-role="presentation" aria-label="EARTH GLOBE AMERICAS"></i>
    <i>Welcome To Travel Buddies!</i>
    <i class="em em-earth_americas" aria-role="presentation" aria-label="EARTH GLOBE AMERICAS"></i></h1>

<h2>LOGIN SUCCESSFUL</h2>
<h3>Proceed to functionality:</h3>
<ul>
    <th:block th:each="user : ${users}">
        <li><a th:href="@{'/?userId=' + ${user.id}}" th:text="${user.username}"></li>
    </th:block>

</ul>
</body>
</html>